/*Основные правки для всей страницы*/
.body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.list {
  list-style: none;
}

/*шапка страницы*/
.page-header {
  background-color: #ffffff;
}
.header-nav {
  color: #212121;
}
.header-nav:hover,
.header-nav:focus {
  color: #2196f3;
}

.header-contact {
  color: #757575;
}
.header-contact:hover,
.header-contact:focus {
  color: #2196f3;
}

/*Логотип страницы*/
.logo-section {
  background-color: #2f303a;
}
.logo-btn {
  color: #ffffff;
  background-color: #2196f3;
}
.logo-btn:hover,
.logo-btn:focus {
}

/*Основная часть страници*/

/*Команда*/
.team {
  background-color: #f5f4fa;
}

/*Подвал*/
.footer {
  background-color: #2f303a;
}

/*Портфолио*/

/*Кнопки фильтра*/

.filtr-btn-name {
  color: #212121;
  background: #f5f4fa;
}
.filtr-btn-name:hover,
.filtr-btn-name:focus {
  color: #ffffff;
  background: #2196f3;
}

/* шрифт 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
